
form label,
.button{
  display: block;
}
.attention{
  color: #ef9e9ee3;
}

#outhor button,
outhor button{
  width: 161px;
  min-height: 29px;
  max-height: 29px;
}

.attention{
  color: #ef9e9ee3;
}

#author button,
#author button{
  width: 161px;
  min-height: 29px;
  max-height: 29px;
}
